<div class="container bg-info text-center mt-3">
    <div class="row">
        <h1>Dashboard</h1>
    </div>
    <div class="row text-center"  >
        <div class="col-5 card m-3"  routerLink="categories" style="cursor: pointer;" >
            <div class="card-body">
                <h3>Collections</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum iste dolorem illum, enim in libero facere esse maiores laudantium eaque consectetur aut vero iusto consequatur quisquam quis temporibus possimus.
                </p>
            </div>
        </div>
        <div class="col-5 card m-3" routerLink="post" style="cursor: pointer;">
            <div class="card-body">
                <h3>Posts</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorum iste dolorem illum, enim in libero facere esse maiores laudantium eaque consectetur aut vero iusto consequatur quisquam quis temporibus possimus.
                </p>
            </div>
        </div>

    </div>
</div>