<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="row">
    
    <app-footer></app-footer>
  </div> -->
</div>

<!-- <div class="container-fluid"> -->
  <app-footer></app-footer>
<!-- </div> -->













<!-- <div class="container">
  <form #categoryForm = 'ngForm'  (ngSubmit)="submit(categoryForm)" >
    <div class="formgroup">
      <label for="">Name</label>
      <input type="text" name="name" ngModel >
    </div>
    <div class="formgroup">
      <label for="">email</label>
      <input type="text" name="email" ngModel>
    </div>
    <button>submit</button>
  </form>
</div> -->